.loading-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}


.loading-container > div {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto auto;
    padding-top: 15%;
    z-index: 99999;
}

.loading-container > div > div {
    width: 97%;
    height: 97%;
    width: 190px;
    height: 190px;
}
