.demo-layout-transparent {
  /* background: url('https://getmdl.io/assets/demos/transparent.jpg') center / cover; */
  background: white;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: rgba(0,0,0,0.87);
}
