.right-card-wide.mdl-card {
  width: 600px;
  opacity: 1.0;
  border-radius: 5px;
}
.right-card-wide > .mdl-card__title {
  color: #fff;
  height: 100px;
  /* background: url('http://maxpixel.freegreatpicture.com/static/photo/1x/Europe-Brno-City-Czech-Medieval-Architecture-Old-2005088.jpg') center / cover; */
}
.right-card-wide > .mdl-card__menu {
  color: #fff;
}

.graph {
    margin: 0 auto;
    margin-top: 10px;
    width: 600px;
    /* height: 400px; */
}

#right_panel_content {
  margin: 0px;
  padding-left:0;
  margin-top: 0px;
  width: 100%;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

#right_panel{
	position: absolute;
	right: 20px;
	top: 50px;
	z-index: 99999;
  height: 100%;
  display: none;
}


#right_panel_address_div{
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 30px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  position: absolute;
  left: 0px;
  top: 110px;
}

#right_panel_address{
  margin-left: 10%;
  line-height: 1;
  vertical-align: bottom;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
