.irs-from, .irs-to, .irs-single {
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.irs-max, .irs-min, .irs-grid-text {
  font-size: 14px;
  color: black;
  background: rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

.irs-line, .irs-line-left, .irs-line-mid, .irs-line-right {
  background: grey;
}

#slider_div{
  position: absolute;
  width: 100%;
  bottom: 0px;
  /* bottom: 0px; */
  background: rgba(255, 255, 255, 0.3);
  left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* z-index: 9000; */
}

#checkbox_div{
position: absolute;
bottom: 5%;
left: 5%;
z-index: 9000;
padding: 10px;
border-radius: 3px;
background: rgba(0, 0, 0, 0.6);
}
