html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  height: 100%;
  /*
  padding: 0;
  margin: 0;
  */
  z-index: 0;
}

#action_button{
position: absolute;
bottom: 0;
right: 0;
margin-right: 20px;
margin-bottom: 15px;
z-index: 9000;
background: #ed5565;
}

@media (max-width:800px)  {
  #action_button{
  display: none;
  }
}


.mdl-layout__drawer-button{
  display: inline;
}

/* Hide attribution control, beware with data license!!*/
.leaflet-control-attribution, div#cartodb-gmaps-attribution {
  display: none;
}

/* hide carto logo */
.cartodb-logo{
  display: none !important;
}
